[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fdacluster"]
	path = fdacluster
	url = https://github.com/astamm/fdacluster
[submodule "nloptr"]
	path = nloptr
	url = https://github.com/astamm/nloptr
[submodule "roahd"]
	path = roahd
	url = https://github.com/astamm/roahd
