[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "roahd"]
	path = roahd
	url = https://github.com/astamm/roahd
	shallow = true
	registered = true
[submodule "fdakma"]
	path = fdakma
	url = https://github.com/astamm/fdakma
	shallow = true
	registered = true
[submodule "fdacluster"]
	path = fdacluster
	url = https://github.com/astamm/fdacluster
	shallow = true
	registered = true
[submodule "nloptr"]
	path = nloptr
	url = https://github.com/astamm/nloptr
	shallow = true
	registered = true
[submodule "riot"]
	path = riot
	url = https://github.com/astamm/riot
	shallow = true
	registered = true
